@font-face {
    font-family: "Aleo";
    src: url("../fonts/aleo-regular-webfont.woff") format("woff"),
           url("../fonts/aleo-regular-webfont.woff2") format("woff2");
           font-weight: 400;
   }